/* GERAIS */
body {
  background-color: #000 !important;
}

body.bg-image {
  background-image: url(../img/bg-login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  padding: 50px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.69) 0%,
      rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}

header img {
  width: 150px;
  margin-top: -25px
}

.btn-custom-white {
  background-color: #fff;
}

.btn-custom-translucent {
  background-color: rgba(255, 0255, 255, 0.2);
  color: #fff;
}

.btn-custom-translucent:hover {
  color: #fff;
  opacity: 0.8;
}

.btn-custom-white:hover {
  opacity: 0.8;
}

.btn-custon-rounded {
  padding: 5px 9px !important;

}

.opacity-50 {
  opacity: 0.5;
}

/* LOGIN */

#caixa-login {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  /* margin-top: 150px; */
}

/* HOME */
.logomain {

}

.menu_list {
  list-style: none;
  padding-left: 0;
  padding-top: 7px;
  margin-left: 20px;
}

.menu_list li {
  display: inline-block;
  margin-left: 15px;
}

.menu_list li a {
  color: #fff;
}

#hero {
  height: 700px;
  background-image: url(../img/fbi1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  top: 0;
}

#hero::after {
  content: '';
  width: 100%;
  height: 350px;
  display: block;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100% );
  position: absolute;
  left: 0;
  z-index: 2;
  top: calc(700px - 350px);
}

#hero_info {
  padding: 0;
  margin-top: 180px;
  z-index: 3;
  position: relative;
}

#hero_info img.logo {
  margin-bottom: 50px;
  width: 50px;
}

#hero_info {
  margin-bottom: 20px;
}

#hero_info h1 img {
  width: 35px;
  margin-top: -10px;
  margin-right: 15px;
}

.main-content {
  margin-top: 700px;
}

.list-filmes {
  overflow-x: scroll;
  list-style: none;
  white-space: nowrap;
  padding: 20px 0;
  display: block;
}

.list-filmes::-webkit-scrollbar {
  display: none;
}

.filme {
  display: inline-block;
  width: 250px;
  margin-right: 10px;
  border-radius: 3px;
  overflow: hidden;
  transition: o.5s;
}

.filme:hover {
  cursor: pointer;
  transform: scale(1.2);
  z-index: 999;
  transform: 0.5s;
}

.filme:hover .filme-info {
  transform: scale(1);
  transition: 0.5s;
}

.filme:first-child {
  margin-left: 110px;
}

.filme-info {
  background-color: #171717;
  padding: 10px;
  height: 100px;
  width: 100%;
  transform: scale(0);
}

.filme-info .col {
  margin-top: 5px;
}

.filme-info .col:first-child {
  margin-bottom: 20px;
}

.filme-info p {
  color: #7E7B7B;
  font-size: 12;
}

.filme-info p text {
  color: #fff;
}

section {
  margin-bottom: -100px;
  position: relative;
}

section:hover {
  z-index: 9;
}